<div [hidden]="!available">
    <div class="row">
        <div class="col-md-12 mx-auto">
            <div class="md-form">
            <input
                type="text"
                [(ngModel)]="searchText"
                class="form-control"
                id="search"
                mdbInput
            />
            <label for="search">Search</label>
            </div>
        </div>
    </div>
    <div [hidden]="questionnaires.length<=0">
        <table id="past"  mdbTable class="z-depth-1" hover="true" striped="true">
            <thead class="primary-color text-white"> 
                <th [mdbTableSort] = "questionnaires" sortBy="id">ID
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort] = "questionnaires" sortBy="title">Title
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort] = "questionnaires" sortBy="date">Date
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th [mdbTableSort] = "questionnaires" sortBy="product.name">Product
                    <mdb-icon fas icon="sort"></mdb-icon>
                </th>
                <th>Inspect</th>
                <th>Delete</th>
            </thead>
            <tbody>
            <tr *ngFor="let el of questionnaires">
                <th scope="row">{{el.id}}</th>
                <td>{{el?.title}}</td>
                <td>{{el?.date}}</td>
                <td>{{el?.product.name}}</td>
                <td>
                    <button mdbBtn size="sm" mdbWavesEffect  mat-icon-button color="primary">
                        <mat-icon>search</mat-icon>
                    </button>
                </td>
                <td>
                    <button mdbBtn size="sm" mdbWavesEffect  mat-icon-button color="primary">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </tr>
        </tbody>
        </table>
    </div>
</div>
<div *ngIf="questionnaires.length==0 && available">
    No questionnaire matched.
</div>
<div *ngIf="!available">
    No past questionnaire available.
</div>

