<mat-accordion>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Products Administration
        </mat-expansion-panel-header>
        <app-products></app-products>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Questions Administration
        </mat-expansion-panel-header>
        <app-questions></app-questions>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Future Questionnaires Administration
        </mat-expansion-panel-header>
        <app-future-q></app-future-q>
    </mat-expansion-panel>
    <mat-expansion-panel>
        <mat-expansion-panel-header>
            Past Questionnaires Administration
        </mat-expansion-panel-header>
        <app-past-q></app-past-q>
    </mat-expansion-panel>
</mat-accordion>  
<br>
<br>
<button  class="float-right"  mat-raised-button color ="primary" (click)="onLogout()">Logout</button>
