<div class="card rounded-0">
    <div class="card-header">
        <h3 class="mb-0">Add Review</h3>
    </div>
    <div class="card-body">
        <form #addReviewForm ="ngForm" class="form" > 
            <div class="content-container">
                <span class = "content-span full-width">
                <div class="form-group">
                    
                  <textarea  [(ngModel)]="model.review"  
                  width=100%
                  class="form-control" 
                    name="text"
                    rows="4" required></textarea>
                </div>
                <small [class.text-danger]="serverError" [class.text-success]="serverSuccess"*ngIf="serverError==true||serverSuccess==true">{{serverMessage}}</small>

                </span>
            </div>
            <button mat-flat-button id="no-button" color="warn"(click)="closeDialog()" >Close</button>
            <button type = "submit" mat-flat-button id="yes-button" color="primary"  [disabled]="addReviewForm.form.invalid" (click)="onSubmit()">Add</button>
        </form>
    </div>
</div>
